@charset "utf-8";
// CSS information
//  file name  : homepage.css
//  author     : Abilive
//  style info : トップページ
@import "settings";


/* -----------------------------------------------------------
	.con_about
----------------------------------------------------------- */
.con_about {
	padding-top: 10em;
	margin-bottom: 2em;
	.wrap_about {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.box_left {
			width: wCon(540px,1400px);
			.box_txt {
				.txt {
					margin-bottom: 1.5em;
				}
			}
		}
		.box_right {
			width: wCon(800px,1400px);
			.box_img {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.img {
					width: (99% / 2);
					position: relative;
					&:first-child {
						position: relative;
						top: -4em;
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_activity
----------------------------------------------------------- */
.con_activity {
	background: url(../images/home/bg_intro.jpg) no-repeat center top;
	position: relative;
	&::before {
		content: "";
		width: 420px;
		height: 404px;
		background: url(../images/home/bg_leaf.png) no-repeat center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 0;
	}
	&::after {
		content: "";
		width: 420px;
		height: 404px;
		background: url(../images/home/bg_leaf.png) no-repeat center;
		background-size: contain;
		position: absolute;
		right: 0;
		bottom: 2em;
	}
	.box_activity {
		max-width: 1380px;
		margin: auto;
		padding: 70px 0 3em;
		position: relative;
		z-index: 2;
		@include mq(min_max_w,1025px,1380px) {
			width: 95%;
		}
		@include mq(tab) {
			width: 95%;
		}
		@include mq(sp) {
			width: 100%;
			padding: 3rem 0;
		}
		ul {
			margin-bottom: 3rem;
			@include mq(pc_tab) {
				width: 100%;
				overflow: hidden;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-justify-content: space-between;
				justify-content: space-between;
			}
			li {
				overflow: hidden;
				@include mq(pc_tab) {
					width: (100%/2-.5);
					margin-bottom: 1%;
				}
				a {
					display: block;
					position: relative;
					@include mq(pc) {
						&:hover {
							.box_txt {
								@include mq(pc) {
									width: 100%;
									&:after {
										display: none;
									}
								}
							}
						}
					}
					.img {
						img {
							width: 100%;
						}
					}
					.box_txt {
						position: absolute;
						width: 35%;
						height: 100%;
						top: 0;
						left: 0;
						background: rgba(#686868,.88);
						text-align: center;
						padding-top: 10%;
						@include animate;
						@include mq(min_max_w,1025px,1280px) {
							padding-top: 5%;
						}
						@include mq(tab) {
							padding-top: 6%;
						}
						@include mq(sp) {
							padding-top: 5%;
						}
						&:after {
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 13px 0 13px 27px;
							border-color: transparent transparent transparent rgba(#686868,.88);
							position: absolute;
							right: -27px;
							top: 50%;
							margin-top: -13px;
							@include mq(sp) {
								border-width: 9px 0 9px 20px;
								right: -20px;
								margin-top: -4px;
							}
						}
						.catch {
							@include fsz(16);
							background: url(../images/home/deco_border_b.png) center bottom no-repeat;
							padding-bottom: 40px;
							margin-bottom: 1rem;
							font-weight: 300;
							@include mq(tab) {
								@include fsz(14);
								background-size: auto 1rem;
								padding-bottom: 1rem;
							}
							@include mq(sp) {
								@include fsz(13);
								background-size: auto 1rem;
								padding-bottom: 1.5rem;
								margin-bottom: .25rem;
							}
							color: #fff;
						}
						.img_ic {
							margin-bottom: .7em;
							img {
								width: 68px;
								max-height: 70px;
								@include mq(min_max_w,1025px,1280px) {
									width: 45px;
									height: 32px;
								}
								@include mq(tab_sp) {
									width: 34px;
									height: 24px;
								}
							}
						}
						h3 {
							@include f_pat();
							font-weight: normal;
							color: $c_yel;
							@include fsz(24);
							@include mq(tab) {
								@include fsz(20);
							}
							@include mq(sp) {
								@include fsz(18);
							}
						}
					}
				}
			}
		}
		.btn_basic {
			max-width: 300px;
			margin: 0 auto;
			@include mq(sp) {
				width: 80%;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_service
----------------------------------------------------------- */
.con_service {
	padding: 3em 0 2em;
	background: #f9f9f9;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	.wrap_service {
		width: 1820px;
		max-width: 90%;
		margin: auto;
	}
	.box_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::before, &::after {
			content: "";
			display: block;
			width: wCon(340px,1820px);
			order: 1;
			@include mq(sp) {
				display: none;
			}
		}
		.item {
			text-align: center;
			top: 0;
			@include animate;
			width: wCon(340px,1820px);
			position: relative;
			margin-bottom: 2em;
			.box_txt {
				position: absolute;
				z-index: 2;
				width: 100%;
				bottom: 0;
				left: 0;
				padding: 1.5em .5em;
				background: rgba(0,0,0,.6);
				.txt_st {
					@include f_pat();
					@include fsz(19);
					color: #fff;
				}
			}
			&:hover {
				top: -1em;
				.box_txt {
					.txt_st {
						color: $c_yel;
					}
				}
			}
		}
	}
}