@charset "utf-8";
// CSS information
//  file name  : homepage.css
@import "settings";


/* -----------------------------------------------------------
	.con_about
----------------------------------------------------------- */
.con_about {
	@include cV(padding-top,10em,6em,2em);
	@include cV(margin-bottom,4em,3em);
	.wrap_about {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.box_left {
			@include cV(width,wCon(540px,1400px),100%);
			@include mq(sp) {
				margin-bottom: 2em;
			}
			.box_txt {
				.txt {
					@include cV(margin-bottom,1.5em,1em);
				}
			}
		}
		.box_right {
			@include cV(width, wCon(800px,1400px),100%);
			.box_img {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.img {
					width: (99% / 2);
					position: relative;
					&:first-child {
						position: relative;
						@include cV(top, -4em, -2em, - .9em);
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_service
----------------------------------------------------------- */
.con_service {
	padding: 3em 0 2em;
	background: #f9f9f9;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	.wrap_service {
		width: 1820px;
		max-width: 90%;
		margin: auto;
	}
	.box_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::before, &::after {
			content: "";
			display: block;
			@include cV(width, wCon(340px,1820px), 32%, 49%);
			order: 1;
			@include mq(sp) {
				display: none;
			}
		}
		.item {
			text-align: center;
			top: 0;
			@include animate;
			@include cV(width, wCon(340px,1820px), 32%, 49%);
			position: relative;
			@include cV(margin-bottom,2em,1em,.5em);
			.box_txt {
				position: absolute;
				z-index: 2;
				width: 100%;
				bottom: 0;
				left: 0;
				@include cV(padding, 1.5em .5em,1em .3em,1em .5em);
				background: rgba(0,0,0,.6);
				.txt_st {
					@include f_pat();
					@include fsz-cha(19,16,15);
					@include cV(color, #fff, $c_yel);
					@include cV(white-space,nowrap,nowrap);
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.box_img {
				text-align: center;
			}
			@include mq(pc_tab) {
				&:hover {
					top: -1em;
					.box_txt {
						.txt_st {
							color: $c_yel;
						}
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_activity
----------------------------------------------------------- */
.con_activity {
	background: url(../images/home/bg_intro.jpg) no-repeat center top;
	position: relative;
	&::before {
		content: "";
		@include cV(width, 420px,10em);
		@include cV(height,404px, 9em);
		background: url(../images/home/bg_leaf.png) no-repeat center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 4em;
	}
	&::after {
		content: "";
		@include cV(width, 420px,10em);
		@include cV(height,404px, 9em);
		background: url(../images/home/bg_leaf.png) no-repeat center;
		background-size: contain;
		position: absolute;
		right: 0;
		@include cV(bottom,2em,0);
	}
	.box_activity {
		max-width: 1380px;
		margin: auto;
		padding: 70px 0 3em;
		position: relative;
		z-index: 2;
		@include mq(min_max_w,1025px,1380px) {
			width: 95%;
		}
		@include mq(tab) {
			width: 95%;
		}
		@include mq(sp) {
			width: 100%;
			max-width: 90%;
			margin: auto;
			padding: 3rem 0;
		}
		ul {
			@include cV(margin-bottom,3rem,2rem,1rem);
			@include mq(pc_tab) {
				width: 100%;
				overflow: hidden;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-justify-content: space-between;
				justify-content: space-between;
			}
			li {
				overflow: hidden;
				@include mq(pc_tab) {
					width: (100%/2-.5);
					margin-bottom: 1%;
				}
				@include mq(sp) {
					margin-bottom: .5em;
				}
				a {
					display: block;
					position: relative;
					@include mq(pc) {
						&:hover {
							.box_txt {
								@include mq(pc) {
									width: 100%;
									&:after {
										display: none;
									}
								}
							}
						}
					}
					.img {
						img {
							width: 100%;
						}
					}
					.box_txt {
						position: absolute;
						width: 35%;
						height: 100%;
						top: 0;
						left: 0;
						background: rgba(#686868,.88);
						text-align: center;
						padding-top: 10%;
						@include animate;
						@include mq(min_max_w,1025px,1280px) {
							padding-top: 5%;
						}
						@include mq(tab) {
							padding-top: 5%;
						}
						@include mq(sp) {
							padding-top: 5%;
						}
						&:after {
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 13px 0 13px 27px;
							border-color: transparent transparent transparent rgba(#686868,.88);
							position: absolute;
							right: -27px;
							top: 50%;
							margin-top: -13px;
							@include mq(sp) {
								border-width: 9px 0 9px 20px;
								right: -20px;
								margin-top: -4px;
							}
						}
						.catch {
							@include fsz(16);
							background: url(../images/home/deco_border_b.png) center bottom no-repeat;
							padding-bottom: 40px;
							margin-bottom: 1rem;
							font-weight: 300;
							@include mq(tab) {
								@include fsz(14);
								background-size: auto 1rem;
								padding-bottom: 1rem;
							}
							@include mq(sp) {
								@include fsz(0);
								background-size: auto 1rem;
								padding-bottom: 1.5rem;
								margin-bottom: .25rem;
							}
							color: #fff;
						}
						.img_ic {
							margin-bottom: .7em;
							img {
								width: 68px;
								max-height: 70px;
								@include mq(min_max_w,1025px,1280px) {
									width: 45px;
									height: 32px;
								}
								@include mq(tab_sp) {
									width: 3em;
									max-height: 2.5em;
								}
							}
						}
						h3 {
							@include f_pat();
							font-weight: normal;
							color: $c_yel;
							@include fsz(24);
							@include mq(tab) {
								@include fsz(18);
							}
							@include mq(sp) {
								@include fsz(18);
							}
						}
					}
				}
			}
		}
		.btn_basic {
			max-width: 300px;
			margin: 0 auto;
			@include mq(sp) {
				width: 80%;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_news
----------------------------------------------------------- */
.con_news {
	@include cV(margin-bottom,6em,4em,3em);
	.box_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::before, &::after {
			content: "";
			display: block;
			width: wCon(480px,1500px);
			order: 1;
			@include mq(sp) {
				display: none;
			}
		}
		.item {
			@include cV(width,wCon(480px,1500px),100%);
			@include mq(sp) {
				&:not(:last-child) {
					margin-bottom: 1.5em;
				}
			}
			.box_img {
				text-align: center;
				margin-bottom: 1em;
			}
			.box_txt {
				.txt_st {
					font-weight: 500;
					@include fsz-cha(17,16,16);
					@include cV(white-space,nowrap,inherit);
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: .5em;
				}
				.p_info {
					color: #888;
					@include fsz(14);
					@include cV(margin-bottom,.8em,0);
					span {
						margin-right: 1em;
					}
				}
				.txt {
					color: #444;
					@include mq(sp) {
						display: none;
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_insta
----------------------------------------------------------- */
.con_insta {
	width: 1800px;
	max-width: 90%;
	margin: auto;
	.box_insta {
		@include cV(padding,1em,.3em);
		@include cV(margin-bottom,2em,1em);
		background: $c_yel;
		position: relative;
	}
	h3 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include cV(width,254px,10em,10em);
		@include cV(height,224px,8em,8em);
		z-index: 1;
	}
	#instafeed {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::before, &::after {
			content: "";
			display: block;
			width: (100% / 6);
			order: 1;
			@include mq(sp) {
				display: none;
			}
		}
		li {
			@include cV(width, (100% / 6) , (100% / 3) );
			max-height: 300px;
			overflow: hidden;
			a {
				padding-bottom: 100%;
				display: block;
				cursor: pointer;
				position: relative;
			}
			img {
				position: absolute;
			}
			&.img_in {
				img {
					max-width: none;
					left: 50%;
					top: 0;
					bottom: 0;
					height: 100%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.box_btn {
		width: 100%;
		text-align: center;
	}
}